body{
    background-color:blanchedalmond;
}

.nav-container{
    text-align: center;
    margin-top: 30px;
    color: rgb(13, 14, 13);
    border-radius: 15px;
    
}

.main-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 15px;
  
}

.child-container {
    background:lightcoral;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    margin: 10px;
    gap: 5px;
  }